/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    transition: background 0.5s, color 0.5s; /* Плавный переход для фона и цвета */
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/* Тема по умолчанию */
body.default {
    background: #f0f0f0;
    color: #333;
}

/* Темная тема */
body.dark {
    background: #333;
    color: #f0f0f0;
}

.hero {
    padding: 20px;
    text-align: center;
}

.content {
    padding: 20px;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}
