/* styles.css */

/* Обнуление отступов и полей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Установка размеров для всей страницы */
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

/* Блок для фона с видео */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.background-video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Стили для контента */
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Стили для кнопки */
.register-button {
    text-decoration: none;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #007BFF;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #0056b3;
}
