/* Основные стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Навигационное меню */
nav {
    background-color: #333;
    padding: 10px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s;
}

.nav-links .button {
    background-color: #007BFF;
    border-radius: 5px;
    padding: 8px 12px;
}

.nav-links a:hover {
    background-color: #575757;
}

/* Слайдер */
.slider {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides {
    display: none;
}

.slides img {
    width: 100%;
}

.dots {
    text-align: center;
    padding: 10px 0;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #717171;
}

/* О нас */
.about, .contact {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

/* Контактная форма */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    margin: 10px 0;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Нижний колонтитул */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
}
